.faqs-heading {
  color: #272d27;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}
.faqs-accordion-heading {
  color: #272d27 !important;
  font-family: "Montserrat" !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: left !important;
  padding:10px 0px !important;
}
.faqs-accordion-text{
    color: #272D27 !important;
font-family: "Montserrat" !important;
font-size: 18px !important;
font-weight: 400 !important;
line-height: 28px !important;
text-align: left !important;

}
@media only screen and (max-width: 600px) {
    .faqs-heading {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
      }
      .faqs-accordion-heading {
        font-size: 16px !important;
        line-height: 20px !important;
        padding:7px 0px !important;
      }
      .faqs-accordion-text{
      font-size: 16px !important;
      line-height: 26px !important;
      
      }
}