.footer-container {
  /* background-color: red; */
}
.footer-container-inner {
  background-color: #f2ecff;
  padding: 50px 0px;
}
.sub-footer {
  background-color: #577cdd;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
}
.footer-logo > img {
  height: 55px;
}
.footer-text {
  color: #000;
  font-size: 16px;
  font-family: "Poppins";
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-text > span {
  font-weight: 700;
}
.footer-email {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.footer-heading {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}
.footer-link {
  width: 100%;
  display: flex;
  flex: 1;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  padding: 5px 0px;
}
.footer-form-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.footer-input-main {
  height: 38px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 4px;
  padding: 0px 10px;
}
.footer-input-main > input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #9ca3af;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.footer-subscribe-btn {
  height: 42px;
  background-color: #587bdd;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-footer-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.sub-footer-inner>p{
  font-family: 'Poppins';
font-size: 12px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #fff;
}
.footer-payment-btn{
  width: 44px !important;
  height: 44px !important;
  min-width: 44px !important;
  min-height: 44px !important;
  max-width: 44px !important;
  max-height: 44px !important;
  margin-left: 10px !important;
  /* border: 1px solid red !important; */
}
.footer-payment-btn>img{
  width: 44px;
  height: 44px;
}
@media only screen and (max-width: 800px) {
  .sub-footer-inner{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sub-footer-inner>p{
margin-bottom: 10px;
  }
  .footer-payment-btn{
    margin-left: 0px !important;
    margin-right: 10px !important;
  }
}